# ─────────────────────────────────────────
# Backend — Environment Variables
# Copy to .env and fill values
# ─────────────────────────────────────────

DB_USER=system
DB_PASSWORD=StrongPassword123#
DB_CONNECT_STRING=localhost:1521/FREEPDB1

PORT=3000
NODE_ENV=development
